/* Accordions */

.rs-alert p:empty {
   display: none;
}
.rs-accordion {
  border: 1px solid #d8d8d8;
  border-bottom: 0;
  border-radius: 0.25em;
  margin: 1.5em 0;
  overflow: hidden;
  background-color: #fdfdfd;
}
.rs-accordion .accordion-item.active .accordion-item-title {
  background-color: #e9e9e9;
}
.rs-accordion .accordion-item.active .accordion-item-title .icon-for-active {
  display: inline-block;
}
.rs-accordion .accordion-item.active .accordion-item-title .icon-for-inactive {
  display: none;
}
.rs-accordion .accordion-item-title {
  border-bottom: 1px solid #d8d8d8;
  margin: 0 !important;
  font-size: 1em;
  font-weight: inherit;
}
.rs-accordion .accordion-item-title a {
  display: block;
  border: 0;
  padding: 0.8em 1.5em;
  background-color: #f2f2f2;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), transparent);
  text-decoration: none;
}
.rs-accordion .accordion-item-title a:active,
.rs-accordion .accordion-item-title a:focus,
.rs-accordion .accordion-item-title a:hover {
  border: 0;
  background-color: #e9e9e9;
}
.rs-accordion .accordion-item-title .fa {
  margin-right: 0.6em;
  opacity: 0.8;
}
.rs-accordion .accordion-item-title .fa.icon-for-active {
  display: none;
}
.rs-accordion .accordion-item-content {
  border-bottom: 1px solid #d8d8d8;
  padding: 1.5em;
}
.rs-accordion .accordion-item-content > :first-child {
  margin-top: 0 !important;
}
.rs-accordion .accordion-item-content > :last-child {
  margin-bottom: 0 !important;
}
/* Alerts */
.rs-alert {
  border: 1px solid #d8d8d8;
  margin: 1.5em 0;
  padding: 1em 1.5em;
  background-color: #fdfdfd;
}
.rs-alert.has-icon {
  position: relative;
  padding-left: 3.75em;
}
.rs-alert.has-icon > .fa {
  position: absolute;
  top: 50%;
  left: 1em;
  margin-top: -0.5em;
  font-size: 1.5em;
  opacity: 0.8;
}
.rs-alert.color-nocolor.has-icon .fa {
  left: 0 !important;
}
.rs-alert.color-black {
  border-color: #cccccc;
  background-color: #f9f9f9;
  color: #3a3a3a;
}
.rs-alert.color-blue {
  border-color: #bed9e4;
  background-color: #f7fbfd;
  color: #0078a9;
}
.rs-alert.color-gray {
  border-color: #dadada;
  background-color: #fbfbfb;
  color: #7e7e7e;
}
.rs-alert.color-green {
  border-color: #beded4;
  background-color: #f7fcfb;
  color: #008b5d;
}
.rs-alert.color-orange {
  border-color: #ecd7be;
  background-color: #fefbf7;
  color: #cf7200;
}
.rs-alert.color-red {
  border-color: #e6bfc9;
  background-color: #fdf7f9;
  color: #b0022e;
}
.rs-alert.color-violet {
  border-color: #d2bee5;
  background-color: #faf7fd;
  color: #5900ae;
}
.rs-alert.color-yellow {
  border-color: #f1e9be;
  background-color: #fffef7;
  color: #cca900;
}
.rs-alert.color-nocolor {
  border-color: transparent;
  background-color: transparent;
  color: #404040;
}
.rs-alert.color-nocolor.has-icon {
  padding: 0 0 0 3.75em;
}

.rs-alert .alert-content > :first-child {
  margin-top: 0 !important;
}
.rs-alert .alert-content > :last-child {
  margin-bottom: 0 !important;
}
/* Boxes */
.rs-box {
  border: 1px solid #d8d8d8;
  background-color: #fdfdfd;
  margin: 1.5em 0;
}
.rs-box .box-title {
  border-bottom: 1px solid #d8d8d8;
  margin: 0 !important;
  padding: 0.8em 1.5em;
  background-color: #f2f2f2;
  font-size: 1em;
}
.rs-box .box-content {
  padding: 1.5em;
}
.rs-box .box-content > :first-child {
  margin-top: 0 !important;
}
.rs-box .box-content > :last-child {
  margin-bottom: 0 !important;
}
.rs-box .box-content-music p,
.rs-box .box-content-video p {
margin:0;
padding: 0;
line-height: 0 !important;
}

.rs-box .box-title-video,
.rs-box .box-title-music {
  background-color: #f2f2f2;
    border-bottom: 1px solid #d8d8d8;
    font-size: 1em;
    margin: 0 !important;
  padding: 0.4em 0.8em;
}

.rs-box h3.box-title-video,
.rs-box h3.box-title-music { font-size: 1.5em}

.rs-box h3.box-title-video i,
.rs-box h3.box-title-music i {
   margin-right: 10px;
}

.video-block{ position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
.video-block iframe, .video-block object, .video-block embed, .video-block video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Buttons */
.rs-button {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 0.25em;
  min-width: 7em;
  background-color: #444444;
  background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.15));
  text-align: center;
  text-decoration: none !important;
  vertical-align: bottom;
}
.rs-button span {
  display: block;
  padding: 0.5em 1.25em;
  color: #eee;
  transition: background-color 0.2s, color 0.2s;
}
.rs-button:active span,
.rs-button:focus span,
.rs-button:hover span {
  background-color: rgba(0, 0, 0, 0.15);
  color: #ddd;
}
.rs-button.color-blue {
  background-color: #0087bd;
}
.rs-button.color-gray {
  background-color: #888888;
}
.rs-button.color-green {
  background-color: #009f6b;
}
.rs-button.color-orange {
  background-color: #e37d00;
}
.rs-button.color-red {
  background-color: #c40233;
}
.rs-button.color-violet {
  background-color: #6400c2;
}
.rs-button.color-yellow {
  background-color: #ffd300;
}
.rs-button.color-nocolor {
  background-color: transparent;
}
/* Call-to-action */
.rs-call-to-action {
  margin: 1.5em 0;
  padding: 1.5em;
  background-color: #fdfdfd;
  border: 1px solid #d8d8d8;
}
.rs-call-to-action.color-black {
  border-color: #cccccc;
  background-color: #f9f9f9;
  color: #3a3a3a;
}
.rs-call-to-action.color-blue {
  border-color: #bed9e4;
  background-color: #f7fbfd;
  color: #0078a9;
}
.rs-call-to-action.color-gray {
  border-color: #dadada;
  background-color: #fbfbfb;
  color: #7e7e7e;
}
.rs-call-to-action.color-green {
  border-color: #beded4;
  background-color: #f7fcfb;
  color: #008b5d;
}
.rs-call-to-action.color-orange {
  border-color: #ecd7be;
  background-color: #fefbf7;
  color: #cf7200;
}
.rs-call-to-action.color-red {
  border-color: #e6bfc9;
  background-color: #fdf7f9;
  color: #b0022e;
}
.rs-call-to-action.color-violet {
  border-color: #d2bee5;
  background-color: #faf7fd;
  color: #5900ae;
}
.rs-call-to-action.color-yellow {
  border-color: #f1e9be;
  background-color: #fffef7;
  color: #cca900;
}
.rs-call-to-action.color-nocolor {
  border-color: transparent;
  background-color: transparent;
  color: transparent;
}
.rs-call-to-action .call-to-action-content > :first-child {
  margin-top: 0 !important;
}
.rs-call-to-action .call-to-action-content > :last-child {
  margin-bottom: 0 !important;
}
@media ( max-width: 768px ) {
  .rs-call-to-action .call-to-action-content {
    text-align: center;
  }
}
.rs-call-to-action .call-to-action-button {
  text-align: center;
}
@media ( max-width: 768px ) {
  .rs-call-to-action .call-to-action-button {
    margin-top: 1.5em;
  }
  .rs-call-to-action .call-to-action-button .rs-button {
    width: 100%;
  }
}
.rs-call-to-action.layout-horizontal .call-to-action-button .rs-button {
  width: 100%;
}
.rs-call-to-action.layout-vertical .call-to-action-content {
  text-align: center;
}
.rs-call-to-action.layout-vertical .call-to-action-button {
  margin-top: 1.5em;
}
.rs-call-to-action.layout-vertical .call-to-action-button .rs-button {
  min-width: 12em;
}
/* Clear floats */
.rs-clear-floats {
  clear: both;
}
/* Columns */
.rs-columns:before,
.rs-columns:after {
  display: table;
  content: "";
}
.rs-columns:after {
  clear: both;
}
.rs-columns .column {
  float: left;
  margin-right: 4%;
}
.rs-columns .column.column-width-one-half {
  width: 48%;
}
.rs-columns .column.column-width-one-third {
  width: 30.666667%;
}
.rs-columns .column.column-width-two-thirds {
  width: 65.333334%;
}
.rs-columns .column.column-width-one-fourth {
  width: 22%;
}
.rs-columns .column.column-width-three-fourths {
  width: 74%;
}
.rs-columns .column.column-width-one-fifth {
  width: 16.8%;
}
.rs-columns .column.column-width-two-fifths {
  width: 37.6%;
}
.rs-columns .column.column-width-three-fifths {
  width: 58.4%;
}
.rs-columns .column.column-width-four-fifths {
  width: 79.2%;
}
.rs-columns .column:last-child {
  margin-right: 0 !important;
}
@media ( max-width: 768px ) {
  .rs-columns .column {
    width: 100% !important;
  }
}
/* Divider */
.rs-divider {
  clear: both;
  border: none;
  text-align: right;
  line-height: 1;
}
.rs-divider a {
  display: inline-block;
  font-size: .8em;
  text-decoration: none;
  outline: none;
  padding-bottom: 5px;
      color: #999999 !important;
      text-decoration: none !important;
}
.rs-divider a:hover {
      color: #999999 !important;
      text-decoration: none !important;
}
.rs-divider-color-grey {
  margin:15px 0;
  border-width:3px;
  border-color:#999999;
}

.rs-divider-style-default {
  border-bottom-style: solid;
}
.rs-divider-style-dotted {
  border-bottom-style: dotted;
}
.rs-divider-style-dashed {
  border-bottom-style: dashed;
}
.rs-divider-style-double {
  border-bottom-style: double;
}
/* Highlights */
.rs-highlight {
  padding: 0 0.2em 0 0.25em;
  border-radius: 2px;
}
.rs-highlight.color-blue {
  background-color: #99cfe5;
}
.rs-highlight.color-gray {
  background-color: #cfcfcf;
}
.rs-highlight.color-green {
  background-color: #99d9c4;
}
.rs-highlight.color-orange {
  background-color: #f4cb99;
}
.rs-highlight.color-red {
  background-color: #e79aad;
}
.rs-highlight.color-violet {
  background-color: #c199e7;
}
.rs-highlight.color-yellow {
  background-color: #ffe980;
}
.rs-highlight.color-nocolor {
  background-color: transparent;
}
.rs-highlight.text-color-blue {
  color: #0078a9;
}
.rs-highlight.text-color-gray {
  color: #7e7e7e;
}
.rs-highlight.text-color-green {
  color: #008b5d;
}
.rs-highlight.text-color-orange {
  color: #cf7200;
}
.rs-highlight.text-color-red {
  color: #b0022e;
}
.rs-highlight.text-color-violet {
  color: #5900ae;
}
.rs-highlight.text-color-yellow {
  color: transparent;
}
.rs-highlight.text-color-nocolor {
  color: #cca900;
}
/* Icons */
.rs-icon.color-blue {
  color: #0087bd;
}
.rs-icon.color-gray {
  color: #888888;
}
.rs-icon.color-green {
  color: #009f6b;
}
.rs-icon.color-orange {
  color: #e37d00;
}
.rs-icon.color-red {
  color: #c40233;
}
.rs-icon.color-violet {
  color: #6400c2;
}
.rs-icon.color-yellow {
  color: #ffd300;
}
.rs-icon.color-nocolor {
  color: transparent;
}
/* Tabs */
.rs-tabs {
  margin: 1.5em 0;
  padding-top: 0.2em;
}
.rs-tabs .headings {
  float: left;
  width: 100%;
}
.rs-tabs .headings a {
  display: block;
  float: left;
  border: 1px solid #d8d8d8;
  margin-bottom: -1px;
  padding: 0.6em 1.5em;
  background-color: #f2f2f2;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), transparent);
  text-decoration: none;
  outline: 0;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.rs-tabs .headings a + a {
  margin-left: -1px;
}
.rs-tabs .headings a.active,
.rs-tabs .headings a:active,
.rs-tabs .headings a:focus,
.rs-tabs .headings a:hover {
  border-color: #d8d8d8;
  background-color: #e9e9e9;
}
.rs-tabs .headings a.active {
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-color: #fdfdfd;
  margin-top: -0.2em;
  padding-top: 0.8em;
  background-color: #fdfdfd;
}
.rs-tabs .headings a:first-child {
  border-top-left-radius: 0.25em;
}
.rs-tabs .headings a:last-child {
  border-top-right-radius: 0.25em;
}
.rs-tabs .tab {
  clear: both;
  border: 1px solid #d8d8d8;
  padding: 1.5em;
  background-color: #fdfdfd;
}
.rs-tabs .tab > :first-child {
  margin-top: 0 !important;
}
.rs-tabs .tab > :last-child {
  margin-bottom: 0 !important;
}
/* Toggles */
.rs-toggle {
  border: 1px solid #d8d8d8;
  border-radius: 0.25em;
  margin: 1.5em 0;
  overflow: hidden;
  background-color: #fdfdfd;
}
.rs-toggle + .rs-toggle {
  margin-top: -0.5em;
}
.rs-toggle .toggle-title {
  margin: 0 !important;
  font-size: 1em;
  font-weight: inherit;
}
.rs-toggle .toggle-title a {
  display: block;
  border: 0;
  padding: 0.8em 1em;
  background-color: #f2f2f2;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), transparent);
  text-decoration: none;
}
.rs-toggle .toggle-title a:active,
.rs-toggle .toggle-title a:focus,
.rs-toggle .toggle-title a:hover {
  background-color: #e9e9e9;
  border: 0;
}
.rs-toggle .toggle-title a.active .icon-for-active {
  display: inline-block;
}
.rs-toggle .toggle-title a.active .icon-for-inactive {
  display: none;
}
.rs-toggle .toggle-title .fa {
  margin-right: 0.6em;
  opacity: 0.8;
}
.rs-toggle .toggle-title .fa.icon-for-active {
  display: none;
}
.rs-toggle .toggle-content {
  border-top: 1px solid #d8d8d8;
  padding: 1.5em;
}
.rs-toggle .toggle-content > :first-child {
  margin-top: 0 !important;
}
.rs-toggle .toggle-content > :last-child {
  margin-bottom: 0 !important;
}
